<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>iPortfolio Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../dash/assets/img/favicon.png" rel="icon" />
    <link
      href="../dash/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../dash/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../dash/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../dash/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../dash/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../dash/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../dash/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../dash/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/user.css" />
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="../dash/assets/img/default.png"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light"><a href="index.html"> <%= fullname %> </a></h1>
          <div class="social-links mt-3 text-center">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="github"><i class="bx bxl-github"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#hero" class="nav-link scrollto active"
                ><i class="bx bx-home"></i> <span>Home</span></a>
            </li>
           
            <li>
              <a href="#about" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>About</span></a>
            </li>

            <li>
              <a href="#resume" class="nav-link scrollto"
                ><i class="bi bi-person-fill-up"></i> <span>Hire An Agent </span></a>
            </li>

            <li>
              <a href="#services"
                class="nav-link scrollto"
                onclick="fetchServiceHistory()">
                <i class="bx bx-server"></i> <span>Services</span></a>
            </li>

              <li>
              <a href="#feedback" class="nav-link scrollto"
                ><i class="bi bi-chat-square-text"></i> <span>Feedback and Rating</span></a>
            </li>

            <li>
              <a href="#history" class="nav-link scrollto"
                ><i class="bi bi-clock-history"></i> <span>History</span></a>
            </li>

            <li>
              <a href="#contact" class="nav-link scrollto"
                ><i class="bx bx-envelope"></i> <span>Contact</span></a>
            </li>

            <li>
              <a
                href="/users/logout"
                class="nav-link scrollto"
                onclick="logout(event)"
                ><i class="bi bi-box-arrow-right"></i> <span>Logout</span></a>
            </li>

          </ul>
        </nav>
      </div>
      <form
        id="logoutForm"
        action="/users/logout"
        method="post"
        style="display: none"
      ></form>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container" data-aos="fade-in">
        <h1>Hi, <%= fullname %></h1>
        <p>
          <span
            class="typed"
            data-typed-items="Welcome to Clean Hub, We're the Best Cleaning Platform, Our Agents are the Best in the Game, We care for our Clients"
          ></span>
        </p>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>About</h2>
            <p>
              "Welcome to your personal profile, <%= fullname %>! This is where
              your story unfolds. Dive into your achievements, passions, and
              experiences. Every click reveals a new chapter of your journey.
              Explore, connect, and make this digital haven truly yours. Enjoy
              the journey!"
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">

              <img src="<%= photo || '../dash/assets/img/default.png' %>" class="img-fluid" alt="profileImage">

              <!-- <% console.log("Photo path:", photo); %> -->

              <form
                action="/users/photo"
                method="post"
                enctype="multipart/form-data"
              >
                <input type="file" name="profileImage" accept="image/*" />
                <button type="submit">Upload Image</button>
              </form>
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Customer Profile Information.</h3>

              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Fullname:</strong> <span> <%= fullname %> </span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Gender:</strong> <span> <%= gender %> </span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Email:</strong> <span> <%= email %> </span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Phone Number:</strong>
                      <span> <%= phonenumber %> </span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Date of Birth:</strong>
                      <span> <%= dateofbirth %> </span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Occupation</strong>
                      <span> <%= occupation %> </span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Address:</strong> <span> <%= address %> </span>
                    </li>

                  </ul>
                </div>
              </div>
              <p>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Facts Section ======= -->
      <section id="facts" class="facts">
        <div class="container">
          <div class="section-title">
            <h2>Facts</h2>
            <p>
              "Clean Hub, your trusted cleaning service app, combines efficiency with eco-friendly practices. Our expert team ensures spotless spaces while prioritizing sustainability. Experience convenience and reliability as we redefine cleanliness. Your satisfaction is our commitment, making Clean Hub the top choice for a sparkling and environmentally conscious home or office."
            </p>
          </div>

          <div class="row no-gutters">
            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
            >
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="250"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Happy Clients</strong> who use our services </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="1000"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong> Cleaning Services Rendered </strong> to our esteemed clients montly </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="5000"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Hours Of Support</strong> Available monthly to our clients </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="80"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong> Cleaning Agents </strong> Always Available that provide the best service to our clients </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Facts Section -->

      <!-- ======= Hire A Cleaning Agent ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Hire A Cleaning Agent</h2>
            <div id="cleanersList"></div>

            <!-- Modal for hiring a cleaner -->
            <div id="hireCleanerModal" class="modal">
              <div class="modal-content">
                <span class="close" onclick="closeModal('hireCleanerModal')"
                  >&times;</span
                >
                <form id="hireCleanerForm">
                  <h3>Hire Cleaner</h3>
                  <label for="name"> Client Name: </label>
                  <input type="text" id="name" name="name" required />

                  <label for="serviceName">Select Service:</label>
                  <select name="serviceName" id="serviceName">
                    <option value="Residential Cleaning">
                      Residential Cleaning
                    </option>
                    <option value="Commercial Cleaning">
                      Commercial Cleaning
                    </option>
                    <option value="Specialized Cleaning">
                      Specialized Cleaning
                    </option>
                    <option value="Move-In/Move-Out Cleaning">
                      Move-In/Move-Out Cleaning
                    </option>
                    <option value="Post-Construction Cleaning">
                      Post-Construction Cleaning
                    </option>
                    <option value="Real Estate Cleaning">
                      Real Estate Cleaning
                    </option>
                    <option value="Educational Institute Cleaning">
                      Educational Institute Cleaning
                    </option>
                  </select>

                  <label for="description">Description:</label>
                  <textarea
                    id="description"
                    name="description"
                    required
                  ></textarea>

                  <label for="servicePrice">Service Price:</label>
                  <input
                    type="text"
                    id="servicePrice"
                    name="servicePrice"
                    required
                  />

                  <label for="address"> Client Address: </label>
                  <input type="text" id="address" name="address" required />

                  <label for="date"> Date/time: </label>
                  <input type="datetime-local" id="date" name="date" required />

                  <input type="hidden" id="cleanerId" name="cleanerId" />

                  <button type="submit">Hire Cleaner</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>
              Dive into Clean HuB's portfolio for a snapshot of our impeccable cleaning projects. From homes to businesses, witness the transformative results of our dedication to excellence and attention to detail. Discover the Clean HuB difference through our visual showcase.
            </p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfolioa.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfolioa.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 1"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfoliob.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfoliob.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 3"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfolioc.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfolioc.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 2"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfoliod.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfoliod.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 2"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfolioe.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfolioe.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 2"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfoliof.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfoliof.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 3"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfoliog.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfoliog.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 1"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfolioh.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfolioh.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 3"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="../dash/assets/img/portfolio/portfolioi.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="../dash/assets/img/portfolio/portfolioi.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 3"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              At CleanHub, we offer a wide range of professional cleaning services to meet the diverse needs of our clients. Whether you're looking for routine maintenance, specialized cleaning, or a one-time deep clean, our dedicated team is here to deliver exceptional results. Explore our services below:
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Residential Cleaning:</a></h4>
              <p class="description">
                Routine cleaning services to keep your home fresh and inviting. Deep Cleaning thorough and detailed cleaning to address hidden and hard-to-reach areas.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Commercial Cleaning</a></h4>
              <p class="description">        
                Office Cleaning: Daily or periodic cleaning for offices and workspaces. Retail Cleaning: Cleaning services tailored to the unique needs of retail spaces.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Specialized cleaning</a></h4>
              <p class="description">
                Carpet and Upholstery Cleaning: Deep cleaning to remove stains, dirt, and allergens. Window Cleaning: Professional cleaning for clear and spotless windows. We also offer comprehensive cleaning for newly constructed or renovated spaces
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Move-In/Move Out Cleaning</a></h4>
              <p class="description">
                Move-In/Move-Out Cleaning
                Preparation for New Residents: Thorough cleaning for a welcoming environment. End-of-Lease Cleaning: Ensuring a clean and tidy space for moving out.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Educationa Institutions</a></h4>
              <p class="description">
                School Cleaning: Routine cleaning to create a healthy learning environment. University Campus Cleaning: Comprehensive services for educational facilities
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Real Estate Cleaning</a></h4>
              <p class="description">
                Property Listings: Presentation-ready cleaning for real estate listings. Open House Cleaning: Cleaning services to prepare for property viewings
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- History Section -->

      <section id="history" class="history">
        <div class="container">
          <div class="section-title">
            <h2>History</h2>
            <p>
              Discover Clean HuB's history—a tale of unwavering commitment to excellence since our inception. Our story is one of growth, adaptability, and top-notch cleaning solutions. Join us in celebrating Clean HuB's legacy as your trusted and forward-thinking cleaning service provider.
            </p>
          </div>

          <div id="serviceHistory"></div>
          <!-- <button onclick="fetchServiceHistory()">View Service History</button> -->
        </div>
      </section>
      <!-- End History Section -->

      <!-- Feedback and Rating Section -->

      <section id="feedback" class="feedback">
        <div class="container">
          <div class="section-title">
            <h2>Feedback and Rating </h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

           <button onclick="openRatingReviewForm()">Rate and Review Service</button>

          <!-- <div id="serviceHistory"></div> -->
          <!-- <button onclick="fetchServiceHistory()">View Service History</button> -->
        </div>
      </section>

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>
              Explore Clean HuB through the voices of satisfied clients. From professionals to estate managers, discover stories of exceptional cleaning and transformative spaces. Join delighted customers who trust Clean HuB for excellence.
            </p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Clean HuB transformed my home! Impeccable service, attention to detail, and a friendly team. I now trust them exclusively for all my cleaning needs."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="../dash/assets/img/testimonials/johnadeleke.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>John Adeleke</h3>
                  <h4>Home Owner</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Clean HuB has been a game-changer for our office. Their reliable service and meticulous cleaning have created a pristine work environment. A true partner in cleanliness and professionalism."              
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="../dash/assets/img/testimonials/comfort.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Comfort Njoku</h3>
                  <h4>CEO Crust Industries</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "As a busy bachelor, Clean HuB has made my life easier. Their efficient and thorough cleaning services allow me to enjoy a pristine home without the hassle. Highly recommended!"
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="../dash/assets/img/testimonials/mohammed.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Mohammed Idris</h3>
                  <h4>Chevron Engineer</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "As an estate manager, maintaining cleanliness is crucial. Clean HuB has consistently delivered exceptional service, ensuring our properties are spotless. Professional, reliable, and highly recommended."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="../dash/assets/img/testimonials/ekaette.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Ekaette Ubong</h3>
                  <h4>Estate Manager</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Clean HuB has been an invaluable partner in maintaining a hygienic school environment. Their thorough cleaning services contribute to a safe and welcoming atmosphere for our students. Highly recommended!"
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="../dash/assets/img/testimonials/eugene.jpg"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Eugene Peterside</h3>
                  <h4>School Proprietor</h4>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              Have questions or ready to experience top-notch cleaning services? Reach out to us. Our friendly team is ready to assist you. Connect with us for a cleaner, healthier space.
            </p>
          </div>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>24 Orchid Rd, Lekki Penninsula II, Lagos 106104, Lagos</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@cleanhub.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+234-703-4334-849</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>CleanHub</span></strong>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../dash/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../dash/assets/vendor/aos/aos.js"></script>
    <script src="../dash/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../dash/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../dash/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../dash/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../dash/assets/vendor/typed.js/typed.umd.js"></script>
    <script src="../dash/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../dash/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../dash/assets/js/main.js"></script>
    <script src="../script/user.js"></script>
  </body>
</html>
